@import 'tailwindcss';
/* @import 'tw-animate-css'; */
@custom-variant dark (&:where(.dark, .dark *));

/* light theme */
:root {
  --max-width-limit: 1410px;
  --max-w: max(0rem, calc((100vw - var(--max-width-limit)) / 2));
  --background: #ffffff;
  --foreground: #171717;
  --primary: #c5ff41;
  --primary-foreground: #000000;
  --muted-foreground: #ffffff88;
  --border: oklch(0.92 0.004 286.32);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
}

.dark {
  --background: #000000;
  --foreground: #ededed;
  --border: rgba(255, 255, 255, 0.08);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --border: oklch(1 0 0 / 10%);
}

@theme inline {
  --font-sans: var(--font-sporting-regular);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
}

@layer utilities {
  .bold-section {
    @apply bg-black dark:bg-white text-white dark:text-black rounded-[52px] p-8;
  }
  .px-mw {
    padding-inline: var(--max-w);
  }
  .mx-mw {
    margin-inline: var(--max-w);
  }
  .space-px {
    @apply px-3 lg:px-8 xl:px-12;
  }
  .space-py {
    @apply py-3 lg:py-8 xl:py-12;
  }
  .space-mx {
    @apply mx-3 lg:mx-8 xl:mx-12;
  }
  .heading-1 {
    @apply text-[clamp(20px,5vw,58px)] font-bold;
  }
  .heading-2 {
    @apply text-[clamp(14px,5vw,28px)];
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
